@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #FFF2CC;
  /* color: #020202; */
  color: #0f0601;
}

header {
    background-color: #FFDCB6;
    padding: 16px 0 8px 0;
    border: 1px solid #883705;
}

#title {
  text-align: center;
  color: #883705;
}

#subtitle {
  text-align: center;
}

#img-div {
  margin: 64px auto 40px auto;
}

#image {
  width: 90%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border: 1px solid #883705;
}

figcaption {
  text-align: center;
  margin-top: 8px;
}

#tribute-info {
    width: 40%;
    margin: auto;
}

h3 {
    color: #883705;
}

ul > li {
  margin-bottom: 8px;

}

#facts-heading {
  margin-top: 32px;
}

#learn-more, #learn-more > a {
  text-align: center;
  color: #883705;
}

#image-credit {
  text-align: center;
  font-size: 10px;
}

#image-credit > a {
  color: #0f0601;
}

footer {
    background-color: #FFDCB6;
    padding: 16px 0;
    margin-top: 40px;
    border: 1px solid #883705;
}

@media screen and (max-width: 480px) {
/* html {
    font-size: 14px;
} */
  
header {
  padding: 0 16px;
}

#img-div {
  margin: 32px auto;
}

#image {
  width: 100%;
}

figcaption {
  padding: 0 32px;
}

#tribute-info {
  width: 80%;
}

footer {
  padding: 8px 0;
  margin-top: 32px;
}
  }